.container {
  display: flex;
}

.header_container {
  align-items: center;
  background-color: white;
  color: #003be5;
  display: flex;
  height: 200px;
  justify-content: space-between;
  margin: auto;
  padding: 100px;
  width: 1037px;
}

.logo {
  height: 52.29px;
  width: 250.19px;
}

.coins_and_total , .icone_email {
  display: flex;
}

.coins_and_total img {
  margin-right: 5px;
}

.icone_email {
  color: rgba(47, 193, 140, 1);
}

.icone_email img {
  margin-right: 5px;
}
