.container {
  display: flex;
}

.header_container {
  align-items: center;
  background-color: white;
  color: #003be5;
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  max-width: 1037px;
}

.logo {
  height: 52.29px;
  width: 250.19px;
  padding: 5px;
}

.coins_and_total , .icone_email {
  display: flex;
  padding: 5px;
}

.coins_and_total img {
  margin-right: 5px;
}

.icone_email {
  color: rgba(47, 193, 140, 1);
}

.icone_email img {
  margin-right: 5px;
}

@media (max-width: 720px) {
  * {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    margin-bottom: 40px;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin: auto;
    padding: 5px;
    width: 100%;
  }

  .logo {
    height: 42.29px;
    width: 200.19px;
    margin-bottom: 1px;
  }
  
  .coins_and_total , .icone_email {
    display: flex;
    margin-bottom: 1px;
  }
}
