.container_table {
  background-color: rgba(0, 59, 229, 1);
  width: 1155px;
  height: 464px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* table , td {
  border: 1px solid #333;
} */
thead , tbody {
  background-color: rgba(0, 59, 229, 1);
}

th {
  width: 116px;
  height: 23px;
  border-left: 1px solid #FFFFFF;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;

  /* or 108% */
  /* display: flex;
  align-items: center;
  text-align: center; */

  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-collapse: none;
}

.cell_description {
  border-left: 0;
}

td {
  width: 115.56px;
  height: 40.92px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #2FC18C;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgba(47, 193, 140, 1);
  /* border-bottom: 1px solid rgba(47, 193, 140, 1); */
  padding: 0;
  border-spacing: 0;
  
}

tbody tr:hover {
  background-color: rgba(3, 107, 82, 0.3);
}

table {
  margin-top:30px;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.button_edit ,
.button_delete {
  background: none;
  border: none;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}